<div class="game">
<div *ngIf="clue">
    <mat-grid-list cols="4" rowHeight="300px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
          <div *ngIf="tile.text === 'Question' && timerStarted">Question: {{ clue.question}} </div>
          <div *ngIf="tile.text === 'Skip'"><button mat-flat-button color="primary" (click)="getRandomClue()">Next question</button>
          </div>
          <div *ngIf="tile.text === 'Answer' && timerStarted"> 
            <input type="text" [(ngModel)]="answer" placeholder="Type your answer here">
            <div *ngIf="timeLeft === 0">{{clue.answer}}</div>
          </div>
          <div *ngIf="tile.text === 'Time'">
            <div *ngIf="!timerStarted">
            <input type="number" [(ngModel)]="timeLeft">
            <br>
            <button mat-flat-button color="primary" (click)='startTimer()'>Start Timer</button>
            </div>
            <br>
              {{timeLeft}} Seconds Left....

            </div>

        </mat-grid-tile>
      </mat-grid-list>
      
</div>
</div>